@use "sass:map";
@import "theme";
@import "responsive";
/* styles.css hoặc styles.scss */
html,
body {
    margin: 0;
}

* {
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 0;
    margin: 0;
    font-size: ;
}

@include Responsive($MEDIUM_DEVICE){
    
}
main{
    background-color: #f3f3f3;
}