@mixin flex-value {
  gap: 18px;
  padding: 5px 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 !important;
  border-bottom: 1px solid black;

  .list-stt {
    flex: 0.5;
  }

  .list-id {
    flex: 1;
  }

  .list-name {
    flex: 2;
  }

  .list-image {
    flex: 1.2;
  }

  .list-price {
    flex: 1;
  }

  .list-category {
    flex: 1.2;
  }

  .list-stock {
    flex: 1;
  }
}

.product-wrapper {
  .product-topbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 15px;
    color: #333;
    overflow: hidden;
    margin-bottom: 10px;

    .toggle-button {
      width: 160px;
      margin: 10px;
      padding: 8px;
      cursor: pointer;
      border: 1px solid #000;
      border-radius: 4px;
      transition: background-color 0.3s;
      background-color: #000;
      color: #72cae8;

      &:hover {
        background-color: #72cae8;
        color: #000;
      }
    }

    .category-buttons {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
      overflow: hidden;
      flex: 1;

      button {
        flex: none;
        min-width: 100px;
        padding: 8px;
        margin: 10px 0;
        border-radius: 20px;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        white-space: nowrap;
        cursor: pointer;
        transition: background-color 0.1s, color 0.1s;

        &:hover {
          background-color: #f0f0f0;
          color: #000;
        }
      }

      .close-button {
        background-color: #72cae8;
        color: #000;

        &:hover {
          background-color: #000;
          color: #72cae8;
        }
      }
    }
  }

  .product-content {
    display: flex;
    width: 100%;
    gap: 1%;
    text-align: center;
    padding: 0 10px;
    transition: all 0.5s ease;

    .product-left {
      margin: 5px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      overflow: hidden;
      flex-basis: 12%;
      height: auto;
      padding: 14px 5px;
      background-color: #fafafa;
      border-radius: 10px;
      transition: flex-basis 0.5s ease, padding 0.5s ease, background-color 0.5s ease;

      .filter-toggle-header {
        cursor: pointer;
        margin: 0;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 8px;
        height: 10%;
        font-weight: bold;
        justify-content: space-around;
        transition: opacity 0.5s ease;
      }

      .filter-body {
        transition: opacity 0.5s ease;
        opacity: 1;
      }
    }

    .product-right {
      flex-grow: 1;
      background-color: #fafafa;
      padding: 10px 0 0 0;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

      .content {
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;

        .product-data {
          .field-name {
            background-color: #000;
            color: white;
            padding-right: 16px !important;

            .field-col {
              padding: 0 2px;
              flex: 1;
              text-align: center;
              font-weight: 500;
            }

            @include flex-value;
          }
        }

        .data {
          max-height: 380px;
          overflow-y: scroll;

          .row-data {
            align-items: center;
            display: flex;
            @include flex-value;

            .list-image {
              img {
                height: 80px;
              }
            }

            .list-stock {
              display: flex;
              flex-direction: column;
              height: 100%;
              margin-top: 20px;

              .view-detail {
                margin-top: 5px;
                font-size: 11px;
                font-style: italic;
                color: #233263;
                text-decoration: underline;
                background-color: transparent;
              }
            }
          }

          .row-data:nth-of-type(odd) {
            background-color: #dddddd;
            color: #000;
          }
        }
      }
    }

    &.open {
      .product-left {
        height: auto;
        flex-basis: 18%;

        .filter-toggle-header {
          height: auto;
          margin-bottom: 10px;
          align-items: start;
        }

        .filter-body {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}