//===============================HEADER=================================
header{
    .container{
        .logo{

        }
        .search{
            .btn_search{
                .icon_search{
                    width: 40px;
                    color: black;
                    background-color: rgb(0, 0, 0);
                    border: 1px solid black;
                }
            }
            .input_search{
                he
            }
        }
    }
}