//===============================HEADER=================================
header {
    .container {
        .logo {}

        .search {
            display: flex;

            .btn_search {
                .icon_search {
                    width: 40px;
                    color: black;
                    background-color: rgb(0, 0, 0);
                    padding: 5px;
                }
            }

            .input_search {
                height: 40px;
                border: 1px solid black;
            }
        }
        .nav{
            li{
                .mega_menu{

                }
                .notification{
                    
                }
            }
        }

        .admin {
            display: flex;
            flex-direction: column;

            justify-content: center;

            .btn_admin {
                background-color: #f9f7f7;
                .icon_admin {
                    width: 40px;
                    
                }
            }

            .name_admin {}
        }
    }
}