//********************************* HomePage *********************************
.homepage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  .menu-panel {
    width: 280px;
    transition: width 0.3s ease;
    z-index: 50;

    &.collapsed {
      width: 120px;

      .app-sidebar {
        padding: 0 10px;
        .vertical-nav-menu {
          .menu-section{
            .list-child{
              padding: 0 15px;
              margin-top: 10px;
              .child{
                button{
                  margin-left: 0;
                  padding: ;
                }
              }
            }
          }
          .content {
            height: auto;
            padding: 0;

            span{
              height: auto;
              width: 80px;
              white-space: normal !important; // Bắt buộc xuống dòng
            }
          }

          .app-sidebar__heading {
            text-align: center;
            
            button {
              margin-left: 0;
            }
          }

          .btn_top {
            a {
              justify-content: center;

              img {
                margin-right: 0;
              }

              span {
                display: none;
              }
            }
          }
        }
      }
    }

    .app-sidebar {
      padding: 2px 1.5rem 1.5rem;

      .vertical-nav-menu {
        margin: 0;
        padding: 0;
        list-style: none;

        button {
          background-color: transparent;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          line-height: 2.4rem;
          height: 2.4rem;
          padding: 0 1rem 0 20px;
          border-radius: 0.25rem;
          color: #343a40;
          white-space: nowrap;
          margin: 0.3rem 0;
          transition: all 0.2s ease;

          &:hover {
            background-color: #e0f3ff;
            font-weight: bold;
            color: #3f6ad8;
          }

          &.content:hover {
            color: black;
          }
        }

        img {
          width: 34px;
          height: 34px;
        }

        .app-sidebar__heading {
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: bold;
          margin: 0.75rem 0;
          color: #3f6ad8;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .btn_top {
          button {
            padding: 0;
            border: none;
            width: 100%;
            display: block;

            a {
              display: flex;
              align-items: center;
              width: 100%;
              color: black;
              text-decoration: none;
              box-sizing: border-box;

              img {
                width: 34px;
                margin-right: 10px;
              }

              span {
                font-size: 14px;
              }
            }
          }
        }

        .menu-section {
          margin-top: 15px;

          .content {
            img {
              width: 14px;
              height: 14px;
              transition: transform 0.3s ease;
            }
          }

          .list-child {
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.4s ease;

            .child {
              button {
                margin-left: 25px;
                width: 90%;
              }
            }
          }

          &.open {
            .content img {
              transform: rotate(180deg);
            }

            .list-child {
              max-height: 1000px; // Đủ lớn để chứa nội dung
            }
          }
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 20px;
            width: 3px;
            height: 100%;
            background: #e0f3ff;
            border-radius: 15px;
          }
        }
      }
    }
  }

  .dynamic-content {
    flex: 1;
    background: #f1f3f5;
    padding: 0 !important;
    margin: 0 !important;

    box-shadow:
      0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
      0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
      0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
      0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  }
}
