//=================================HomePage===========================
// homepage.scss

.homepage {
    height: 100%;
  
    .btn_top {
      ul {
        list-style: none;
        padding: 0;
  
        li {
          button {
            display: flex;
            align-items: center;
            background: none;
            border: none;
            padding: 10px;
            width: 100%;
            color: white;
            img {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  
    .btn_mid {
        .line {
          position: relative;
          margin: 20px 10px;
          border-top: 1px solid #fff;
      
          .line-button {
            position: absolute;
            top: -0.6em;
            left: 50%;
            transform: translateX(-50%);
            background-color: #198754; // Trùng với bg-success
            padding: 0 10px;
            color: white;
            font-weight: bold;
            font-size: 14px;
            border: none;
            display: flex;
            align-items: center;
            gap: 8px; // Khoảng cách giữa chữ và biểu tượng
          }
      
          span.icon {
            font-size: 12px;
          }
        }
      }
      
  }
  