//=================================HomePage===========================
// homepage.scss

.homepage {
    height: 100%;
  
    .btn_top {
      ul {
        list-style: none;
        padding: 0;
  
        li {
          button {
            display: flex;
            align-items: center;
            background: none;
            border: none;
            padding: 10px;
            width: 100%;
            color: white;
            img {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  
    .btn_mid {
        .line {
          position: relative;
          margin: 20px 10px;
          border-top: 1px solid #fff;
      
          .line-content {
            position: absolute;
            top: -0.6em;
            left: 50%;
            transform: translateX(-50%);
            background-color: #198754;
            padding: 2px 12px;
            color: white;
            font-weight: bold;
            font-size: 14px;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 100px; // Đảm bảo có độ dài để căn 2 bên
            gap: 20px; // khoảng giữa chữ và icon
          }
      
          .icon {
            font-size: 12px;
          }
        }
      }
      
      
  }
  