//========================TOOLBAR========================
//=======================================================
.tool-bar-style{
    padding: 10px 20px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    z-index: 50;
    background-color: #FFFFFF;
}
//====================BARCODE POPUP======================
//=======================================================
