@use "sass:map";
@use "./theme" as *;
@use "./responsive" as *;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap');//Font chữ 

/* styles.scss */
html,
body {
  margin: 0;

  span,
  li {
    -webkit-user-select: text;
    user-select: text;
  }

  button img {
    -webkit-user-select: none;
    user-select: none;
  }
}

* {
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

// Gọi mixin như bình thường vì đã as *
@include Responsive($MEDIUM_DEVICE);

main {
  background-color: #f3f3f3;
}
