//===========================================FlashSale Page==================================
.slide-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    border-bottom: 1px solid #e5e4e4;
    padding: 0 10px;

    .slide-title {
        font-size: 16px;
        text-transform: uppercase;
        color: #c73030;

        h2 {
            font-size: inherit;
            margin: 0;
            font-weight: 700;

        }
    }

    .slide-more {
        color: #c73030;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.slide-main {
    padding: 5px;

    .slide-template-slide {
        display: flex;
        max-height: 352px;
        overflow: hidden;


        .owl-stage-outer {
            position: relative;
            overflow: hidden;
            margin: 0 20px;

            .owl-stage {
                display: flex;
                position: relative;
                touch-action: manipulation; // Chỉ cho phép cuộn ngang
                cursor: grab;

                .owl-item {
                    width: 254px;
                    position: relative;
                    min-height: 1px;
                    float: left;
                    touch-action: pan-y;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    user-select: none;
                    pointer-events: none;

                    /* Ngừng tương tác với ảnh */
                    .product-template {
                        padding: 8px 10px;
                        border: 1px solid transparent;
                        position: relative;
                        display: block;
                        background: #fff;

                        .product-discount {
                            z-index: 1;
                            position: absolute;
                            right: 10px;
                            top: 8px;
                            background: url(../../../../../public/assets/images/sale-tag.svg) center right no-repeat;
                            background-size: contain;
                            font-weight: 600;
                            color: #fff;
                            font-size: 10px;
                            width: 40px;
                            height: 22px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            transition: 0.1s ease-in-out;

                        }

                        img {
                            border: 4px solid black;
                            height: 220px;
                            display: block;
                            width: 100%;
                            padding: 0px 10px 0px 10px;
                        }
                    }

                    .product-price {
                        margin-bottom: 8px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-weight: 700;
                        font-size: 14px;

                        .public-price {
                            color: #c73030;
                        }

                        .origin-price {
                            text-decoration: line-through;
                            color: #707070;
                            font-size: 12px;
                        }
                    }

                    .product-brand {
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 12px;
                        height: 18px;
                    }

                    .product-title {
                        font-size: 14px;
                        text-align: left;
                        height: 38px;
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    .product-progress-sale {
                        color: #fff;
                        font-size: 12px;
                        height: 19px;
                        margin-top: 10px;
                        text-align: center;
                        border-radius: 10px;
                        background-size: 40px 40px;
                        /* Gradient với các dải màu di chuyển theo góc 45 độ */
                        background-image: linear-gradient(45deg,
                                hsla(0, 0%, 100%, 0.25) 25%, transparent 0, transparent 50%,
                                hsla(0, 0%, 100%, 0.25) 0, hsla(0, 0%, 100%, 0.25) 75%, transparent 0, transparent);
                        background-color: #c73030;
                        animation: fillProgress 2s linear infinite;
                    }
                }
            }
        }

        .owl-prev,
        .owl-next {
            padding: 0 !important;
            font: inherit;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            background: rgba(255, 255, 255, 0.3098039216);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
            color: #000;
            border: none;
            border-radius: 50%;
            font-size: 24px;
            line-height: 23px;
        }

        .owl-prev {
            left: 5px;
        }

        .owl-next {
            right: 5px;

        }
    }

    .owl-carousel {
        width: 100%;
        -webkit-tap-highlight-color: transparent;
        position: relative;
        z-index: 1;
    }


}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 18px;
}


//===================== Animation==================
@keyframes fillProgress {
    0% {
        background-position-x: 0;
        /* Bắt đầu tại vị trí 0, tức là hình nền bắt đầu từ cạnh trái của phần tử */
    }

    100% {
        background-position-x: 40px;
        /* Kết thúc tại vị trí 40px, tức là hình nền sẽ di chuyển đến vị trí 40px từ cạnh trái */
    }
}

//===========================================Banner Page==================================
.section-banner-top {
    padding-left: 220px;
    height: 400px;
    display: flex;
    gap: 10px;
    overflow: hidden;

    .banner-slide {
        width: 700px;

        .banner-slick {
            position: relative;
            width: 100%;
            display: block;

            .owl-stage-outer {
                position: relative;
                overflow: hidden;
                transform: translate3d(0px, 0px, 0px);

                .owl-stage {
                    transform: translate3d(-2840px, 0px, 0px);
                    transition: 0.25s;
                    width: 4260px;

                    .owl-item {
                        width: 700px;
                        margin-right: 10px;
                        touch-action: pan-y;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                        position: relative;
                        min-height: 1px;
                        float: left;

                        div {
                            a {
                                img {
                                    display: block;
                                    width: 700px;
                                    height: 400px;
                                    max-width: 100%;
    height: auto;
                                }
                            }
                        }
                    }
                }
            }

            .owl-nav {
                button {
                    &[role="presentation"] {

                        &.owl-prev,
                        &.owl-next {
                            span {
                                // Tuỳ chỉnh thêm nếu muốn
                            }
                        }
                    }
                }
            }

            .owl-dots {
                display: none;

            }
        }
    }

    .banner-wrap {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        a {
            img {
                width: 100%;
                height: auto;
                max-width: 390px;
                max-height: 195px;
                object-fit: cover;
            }
        }
    }
}